.nav.nav-tabs {
    margin-left: 20px;
    margin-top: 10px;
}

.accounts_dropdown button {
    text-align: left;
}

.accounts_dropdown button span {
    float: right;
    margin-top: 8px;
}

.accounts_dropdown .dropdown-menu {
    width: 100%;
}

.people_dropdown .dropdown-menu {
    min-width: 500px;
}

.people_dropdown .dropdown-menu li, .accounts_dropdown .dropdown-menu li {
    padding: 5px 20px;
    cursor: pointer;
}

.people_dropdown .dropdown-menu li:hover, .accounts_dropdown .dropdown-menu li:hover {
    background-color: #DDDDDD;
}
